<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}Progica{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('vue') }}
    {% endblock %}

</head>
<body oncontextmenu='return false' class='snippet-body'>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if app.user %}
                    <a class="link-secondary" href="{{ path('app_account') }}">Mon
                        compte<small>({{ app.user.firstname }})</small></a> | <a
                        href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}

            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('app_default') }}">PROGICA</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">

                {% if not app.user %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </header>

</div>

{% block body %}

{% endblock %}


<footer class="blog-footer">
    <p>Blog template built for <a href="#">PROGICA</a> by <a
                href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>
        <a href="#">Plus haut</a>
    </p>
</footer>

</body>
</html>






